.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: var(--footer-background-color);
    padding: 96px 0;
}

.footer__newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60vw;
    margin: 0 auto;
}

.newsletter__header{
    color: var(--title-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
}

.newsletter__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.newsletter__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
}

.newsletter__input{
    width: 360px;
    height: 48px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.newsletter__submit{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: var(--red);
    padding: 12px 20px;
    border: 1px solid var(--red);
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   
}

.footer__copyright{
    color: #98A2B3;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}